.greet {
  background-color: var(--c-black);
  font-weight: bold;
  color: var(--c-fade);
  padding: 1rem;
}

.nav-greet,
.nav-greet-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.nav-location-link {
  text-decoration: none;
  color: var(--c-fade);
}

@media screen and (min-width: 1025px) {
  .nav-greet,
  .nav-greet-info {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-greet-info span {
    margin-right: 1rem;
  }
}

.nav-location-link :hover,
.nav-location-link :focus {
  color: var(--c-grey);
}
