.client-card {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 1rem;

  padding: 1rem;
}

.client-card-image {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}

@media screen and (min-width: 769px) {
  .client-card {
    border: 3px solid var(--c-fade);
    box-shadow: 5px 10px var(--c-fade);
    margin-right: 1rem;
  }

  .client-card:hover,
  .client-card:focus {
    border: 3.5px solid var(--c-blue);
    box-shadow: 3.5px 10px var(--c-blue);
  }
}
