.introduction {
  padding: 1rem;
  background-color: var(--c-white);
}

.introduction-header {
  color: var(--c-maroon);
  font-weight: bold;
}

.introduction-welcome-header {
  margin: 1rem 0;
}

.introduction-slogan-header {
  margin: 1rem 0;
}
