* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --c-black: #212121;
  --c-white: #fefbf6;
  --c-maroon: #b8405e;
  --c-yellow: #f7d08a;
  --c-grey: #dfdfde;
  --c-green: #6bcb77;
  --c-fade: #7d9d9c;
  --c-blue: #3ab4f2;
  --c-dark-green: #019267;
  --c-purple: #533483;
}

html {
  font-size: 16px;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*
 add this class to hide elements that need not be displayed
 in smaller devices such as mobiles and tablets 
 */
@media screen and (max-width: 768px) {
  .hide-on-smaller-device {
    display: none;
  }
}

/*
 add this class to hide elements that need not be displayed
 in larger devices such as large tablets, laptops or desktops.
 */
@media screen and (min-width: 769px) {
  .hide-on-larger-device {
    display: none;
  }
}
